#poststuff #offers .inside {
    padding: 0;
    margin: 0;
}

#poststuff .offer-container {
    padding: 20px 20px 5px 20px;
    color: #fff;
    background-color: #2E3744;
    background-image: url(images/vertbg.png);
    background-repeat: no-repeat;
    background-position: top right;
}

#poststuff .offer-container:after {
    content: "";
    display: table;
    clear: both;
}

#poststuff .offer-container p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

#poststuff .offer-container .logo {
    margin-bottom: 20px;
}

@media (max-width: 850px) and (min-width: 420px) {
    #poststuff .offer-container .logo {
        width: 50%;
        float: right;
    }
}

#poststuff .offer-container .heading h2 {
    font-family: "Fira Sans", sans-serif;
    font-size: 24px;
    letter-spacing: 0.87px;
    margin-bottom: 14px;
    color: #fff;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

@media (max-width: 850px) and (min-width: 420px) {
    #poststuff .offer-container .heading {
        width: 50%;
        float: left;
    }
}

#poststuff .offer-container .text {
    padding-bottom: 20px;
}

#poststuff .offer-container .text p {
    line-height: 1.5;
}

#poststuff .offer-container .text p.price {
    font-weight: 900;
}

@media (max-width: 850px) and (min-width: 420px) {
    #poststuff .offer-container .text {
        width: 50%;
        float: left;
    }
}

#poststuff .offer-container .cta {
    text-align: center;
}

#poststuff .offer-container .cta .action a {
    background-color: #409EBB;
    color: #fff;
    border-width: 0;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: normal;
    width: auto;
}

#poststuff .offer-container .cta .action a:hover {
    box-shadow: inset 0 0 200px rgba(230, 230, 230, 0.25);
}

#poststuff .offer-container .cta .cta-text p {
    line-height: 1;
}

@media (max-width: 850px) and (min-width: 420px) {
    #poststuff .offer-container .cta {
        width: 50%;
        float: right;
    }
}
